@charset "UTF-8";

.top-menu-adapt {
	height: 44px;
}

.top-menu-submenu-adapt {
	padding: 11.5px 15px;
	vertical-align: middle;
}

.centralizar {
	text-align: center
}

.bloco{
	display: block;
}

.nomargin {
	margin: 0px;
}

.altura-dyn {
	min-height: 70%;
}

loginFieldset{
	height: 10px
}

.login-bg {
	background-image: url("#{resource['images/bg/login-bg.png']}");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: contain
}
.login-box{
	border: 2px groove #ccc;
	border-radius: 15px;
	margin: 0 auto;
	height: 500px;
	width: 354px;
	background-color: white;
}

.login-padding{
	padding: 0 0 0 18px;
}
.login-margin{
	margin: 0 0 0 18px;
}
.top-menu .left{
	float:left
}


.fa-boolean-table-true{
	display:block; 
	margin-left: auto; 
	margin-right: auto;
	color: #2E8B57; !important
}

.fa-boolean-table-false{
	display:block; 
	margin-left: auto; 
	margin-right: auto;
	color: #FF0000; !important
}

.noHeader.ui-datatable table thead tr {
    display: none;
    border-style: none;
}

.ui-expanded-row-content td {
	margin: 0px !important;
	padding: 0px !important;
}
.noHeader.ui-datatable table tbody tr td {
	padding: 4px 10px !important;
}

.tabelaEntidades{
	border:0px; 
	background-color: transparent !important; 
	border-radius: 15px;
}
.ui-selectonemenu .ui-selectonemenu-trigger{
	width: auto !important; 
}
/* style="width:60px; text-align: center" */
.columnId{
	width:60px; 
	text-align: center;
}
.columnNormal{
	text-align: center;
}
/* Altera RowEditor Icon do Primefaces */
.ui-datatable table tbody tr td .ui-row-editor .ui-icon-pencil 
{
	color: #191970;
   background: none !important;
   text-indent: initial;
   /* display: inline-block; */
   font: normal normal normal 14px/1 FontAwesome;
   font-size: inherit;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   transform: translate(0, 0);
}
.ui-datatable table tbody tr td .ui-row-editor .ui-icon-pencil:before {
   content: "\f044";
}
.ui-datatable table tbody tr td .ui-row-editor .ui-icon-pencil:hover {
   font-weight: bold;
}
/* FIM - Altera RowEditor Icon do Primefaces */


.dataTableTrash:hover{
	font-weight: bold;
}
.dataTableTrash{
	 color: #191970; 
}
.change{
	
}
.change-icon > .change + .change,
.change-icon:hover > .change {
  display: none;
}
.change-icon:hover > .change + .change {
  display: inherit;
}


/* Cores quando da erro de validação, conversão, etc */
.ui-state-error{
	color:#333;
}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error{
	color:#333;
}
/* FIM - Cores quando da erro de validação, conversão, etc */