@charset "UTF-8";

.top-menu-adapt {
	height: 44px;
}

.top-menu-submenu-adapt {
	padding: 11.5px 15px;
	vertical-align: middle;
}

.centralizar {
	text-align: center
}

.bloco{
	display: block;
}

.nomargin {
	margin: 0px;
}

.altura-dyn {
	min-height: 70%;
}

loginFieldset{
	height: 10px
}

.login-bg {
	background-image: url("#{resource['images/bg/login-bg.png']}");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: contain
}
.login-box{
	border: 2px groove #ccc;
	border-radius: 15px;
	margin: 0 auto;
	height: 500px;
	width: 354px;
	background-color: white;
}

.login-padding{
	padding: 0 0 0 18px;
}
.login-margin{
	margin: 0 0 0 18px;
}
.top-menu .left{
	float:left
}

/* Cores quando da erro de validação, conversão, etc */
.ui-state-error{
	color:#333;
}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error{
	color:#333;
}
/* fim */
.fa-boolean-table-true{
	display:block; 
	margin-left: auto; 
	margin-right: auto;
	color: #2E8B57; !important
}

.fa-boolean-table-false{
	display:block; 
	margin-left: auto; 
	margin-right: auto;
	color: #FF0000; !important
}

.noHeader.ui-datatable table thead tr {
    display: none;
    border-style: none;
}

.ui-expanded-row-content td {
	margin: 0px !important;
	padding: 0px !important;
}
.noHeader.ui-datatable table tbody tr td {
	padding: 4px 10px !important;
}

.tabelaEntidades{
	border:0px; 
	background-color: transparent !important; 
	border-radius: 15px;
}
.ui-selectonemenu .ui-selectonemenu-trigger{
	width: auto !important; 
}
/* style="width:60px; text-align: center" */
.columnId{
	width:60px; 
	text-align: center;
}
.columnNormal{
	text-align: center;
}