@charset "UTF-8";
/* body,
html{
    overflow: hidden;
    margin: 0;
    padding: 0;
} */
/* .page{
	position: relative;
	min-height: 100%;
} */
/* .container-cabecalho-superior {
	height: 40px;
	position: relative;
	min-width: 800	px;
	background-color: #262626;
} */
/* .ui-button .ui-button-text{
	color: #2e6e9e;
} */
.container-cabecalho-superior {
	position: fixed;
	width: 100%;
	top: 0px;
	height: 40px;
	width: 100%;
	background-color: #262626;
}

.centraliza {
	width: 800px;
	margin: 0 auto;
}

.pagina-inicial {
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	display: inline-block;
	float: left;
	font-size: 20px;
	padding: 10px;
	position: relative;
	z-index: 1;
}

.data-container-cabecalho {
	float: left;
	line-height: 26px;
	position: relative;
	text-align: center;
	width: 240px;
}

.data {
	font-size: 13px;
	display: inline-block;
	line-height: 20px;
	position: relative;
	text-align: center;
	z-index: 0;
	color: #999;
	padding: 10px 5px 10px;
}

.logo-final-container-cabecalho {
	float: right;
	line-height: 26px;
	position: relative;
	text-align: center;
	width: 120px;
}

.logo-final {
	line-height: 26px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	float: right;
	font-size: 20px;
	padding: 10px;
	position: relative;
	z-index: 1;
}

.usuario-container-cabecalho {
	float: left;
	line-height: 26px;
	position: relative;
	text-align: center;
	width: 320px;
}

.usuario {
	float: left;
	display: inline-block;
	font-size: 15px;
	line-height: 20px;
	padding: 10px 5px 10px;
	position: relative;
	color: #fff;
	z-index: 0;
}
/* 	position: fixed;
	width: 100%;
    top: 0px;
    height: 40px;
	width: 100%;
	background-color: #262626; */
.container-cabecalho-logo {
	position: fixed;
	width: 100%;
	top: 40px;
	height: 110px;
	background-color: #FFFFFF;
}

.cabecalho-logo {
	float: left;
	margin: 18px 50px 15px 0;
	vertical-align: middle;
	height: 60px;
	z-index: 0;
}

.info-formare-container-cabecalho {
	float: left;
	vertical-align: middle;
	height: 110px;
	z-index: 0;
}

.info-formare {
	margin: 15px 0px 15px;
	height: 80px;
	font-size: 15px;
}


.login-container-cabecalho {
	float: right;
	vertical-align: middle;
	height: 110px;
	z-index: 0;
	width: 250px;
}

.login-sub-container-cabecalho {
	float: right;
	margin: 5px 0px 5px;
	height: 80px;
	color: #000;
	border: 0;
	text-decoration: none;
}

.login-sub-container-cabecalho.ui-panelgrid>*>tr,
	.login-sub-container-cabecalho.ui-panelgrid .ui-panelgrid-cell {
	border: none;
}

.login, .login::-webkit-input-placeholder {
	font-size: 12px;
	line-height: 1;
	font-style: italic;
	color: #999;
	border: 0;
	text-decoration: none;
	width: 150px;
}

.login-novo {
	line-height: 1;
	text-decoration: none;
	color: #e6e6e6;
	font-style: italic;
}
.login-button .ui-button-text{
	font-size: 0.9em;
}
.fa-at-login {
	font-size: 0.8em;
	border: 0;
	text-decoration: none;
}
/* 	position: fixed;
	width: 100%;
	top: 40px;
	height: 110px;
	background-color: #FFFFFF;  */
.container-cabecalho-inferior {
	position: fixed;
	width: 100%;
	top: 150px;
	height: 40px;
	margin-bottom: 10px;
	background-color: #FFFFFF;
}

.container-cabecalho-inferior-linhas {
	border-top: 3px solid #e6e6e6;
	border-bottom: 3px solid #e6e6e6;
}

.border-right-light {
	border-right-color: #404040;
}

.border-left-light {
	border-left-color: #404040;
}
.no-border{
	border: 0px;
}

.fas {
	color: #fff;
	font-size: 20px;
}

.fa-container-cabecalho-superior {
	color: #fff;
	font-size: 20px;
}

.fa-container-cabecalho-abaixo-superior {
	color: #000;
	border: 0;
	text-decoration: none;
	display: block;
	margin: 0.4em 0 0.4em;
	padding: 0.2em 0 0.2em;
}

.container-content {
	width: 800px;
	margin: 0 auto;
	margin-top: 206px;
	margin-bottom: 40px;
	height: 70%;
	height: -webkit-calc(100% - 250px);
	height: -moz-calc(100% - 250px);
	height: calc(100% - 250px);
	overflow-x: hidden;
	overflow-y: scroll;
}

.container-rodape {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0px;
	margin-top: 0px;
	width: 100%;
	height: 40px;
	background-color: #262626;
}

.rodape {
	float: right;
	display: inline-block;
	font-size: 15px;
	line-height: 20px;
	padding: 10px 5px 10px;
	position: relative;
	color: #fff;
	z-index: 0;
	display: table-cell;
	font-style: italic;
}

.tema {
	display: inline-block;
	float: left;
	font-size: 20px;
	padding: 0px 0px 1.5px;
	position: relative;
	z-index: 1;
}
/* td{
	text-align:center;
} */
.panelGridCenter{
	margin: 0 auto;
    /* text-align: center; */
}
.ui-widget, .ui-widget .ui-widget {
       font-size: 100% !important;
}
.tableAutoWidth{
	table-layout: auto;
	/* tableStyle="width:auto" */
}
.ui-datatable, .ui-datatable table, .ui-datatable-table-wrapper {
    table-layout: auto  !important;
    font-size: 80% !important;
}

.ui-selectonemenu{
     width: 80% !important;
}
/* .ui-selectonemenu-label{
     width: 80% !important;
}   */