#header-container {
	position: absolute;
	height: 80px;
	background: #0055FA;
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center;
	vertical-align: middle;
}

#header {
	width: 1000px;
	height: 100%;
	margin: 0;
}

.cabecalho {
	width: 1000px;
	font-size: 1rem;
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

#header-logo{
	padding:0;
}
div.ui-g {
	height: 100%;
}
div.ui-g-1{
	padding: 0;
}

.ui-button {	
	margin: 0;
	border: 0;
	width: 40px;
	height: 40px;
}



.ui-icon.fa {
     text-indent:0px;
     background-image:none;
}